@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-navy text-slate font-sans antialiased leading-relaxed;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  @apply bg-navy;
}

::-webkit-scrollbar-thumb {
  @apply bg-lightest-navy border-2 border-navy rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-light-slate;
}

::selection {
  @apply bg-lightest-navy text-green;
}